<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {% if page.title == 'mainpage' or page.title == 'stables' %}
    <main class="page-content" class="{{page.title}}" id="map" aria-label="Content"> 
    {% else %}
    <main class="page-content {{page.slug}}--background" aria-label="Content"> 
    {% endif %}
    
    
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
  {% include_relative assets/map/map.html %}
</html>
